# convert downloaded hic matrix to formated txt file

In [2]:
# Modules

# import regular expression module
import re

# import sys module
import sys

from Bio import SeqIO
from Bio.Seq import Seq
from Bio.Alphabet import generic_dna
import pandas as pd
import math

In [ ]:
# function
def convert_to_format(hic_filename, res, chromosome):
    data=pd.read_csv(hic_filename,sep='\t',header=None)
    data=data[data[2].isnull()==False]
    tmp=data[0]+res
    data[0] = data[0].astype(str)+'_'+ tmp.astype(str)
    tmp=data[1]+res
    data[1] = data[1].astype(str)+'_'+ tmp.astype(str)
    chrs=[str(chromosome)]*data.shape[0]
    data2=pd.DataFrame()
    data2['chr']=chrs
    data2['bin1']=data[0]
    data2['bin2']=data[1]
    data2['score']=data[2]
    data2=data2[data2['score'].isnull()==False]
    data2.to_csv(hic_filename+'_format.txt',sep='\t',header=None,index=False)

In [ ]:
# running the function

hic_filename='../../../../../Volumes/My_Book_for_Mac/piga/HCT116_chrX_25kb_KR.txt'
res=25000
chromsome='chrX'
convert_to_format(hic_filename,res,chromosome)

In [3]:
# read in hic data
hic_filename='../../../../../Volumes/My_Book_for_Mac/piga/HCT116_chrX_25kb_KR.txt'
data=pd.read_csv(hic_filename,sep='\t',header=None)

In [4]:
# remove na
data=data[data[2].isnull()==False]

In [5]:
data.head()

       0       1            2
0  50000   50000   737.061218
1  50000   75000   211.011719
2  75000   75000  1147.791992
4  50000  150000   103.591118
5  75000  150000    33.145931

In [6]:
res=25000
tmp=data[0]+res
data[0] = data[0].astype(str)+'_'+ tmp.astype(str)

In [7]:
res=25000
tmp=data[1]+res
data[1] = data[1].astype(str)+'_'+ tmp.astype(str)

In [8]:
chrs=['chrX']*data.shape[0]

In [9]:
data2=pd.DataFrame()
data2['chr']=chrs
data2['bin1']=data[0]
data2['bin2']=data[1]
data2['score']=data[2]

In [10]:
data2=data2[data2['score'].isnull()==False]

In [11]:
data2.to_csv('../../../../../Volumes/My_Book_for_Mac/piga/HCT116_chrX_KR_25kb_format.txt',sep='\t',header=None,index=False)

In [12]:
data2.head()

    chr          bin1           bin2        score
0  chrX   50000_75000    50000_75000   737.061218
1  chrX   50000_75000   75000_100000   211.011719
2  chrX  75000_100000   75000_100000  1147.791992
4  chrX   50000_75000  150000_175000   103.591118
5  chrX  75000_100000  150000_175000    33.145931